header {
    display: flex;
    max-width: 2000px;
    flex-wrap: wrap;
}

#domainName {
    align-self: center;
}

#whoIs {
    display: flex;
    gap: 32px;
    margin-bottom: 8px;
}

.contentDiv {
    display: flex;
}