header {
    display: flex;
    max-width: 1500px;
    flex-wrap: wrap;
}

a {
    color: black;
    display: block;
}

#domainName {
    align-self: center;
}

#whoIs {
    display: flex;
    gap: 32px;
    margin-bottom: 8px;
}

.contentDiv {
    display: flex;
    gap: 32px;
    text-align: justify;
}

.icon {
    height: 128px;
    width: 128px;
}